@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    padding: 28px;
    background-color: rgb(46, 46, 46);
    font-family: 'Roboto';
}

.completed {
    color: rgb(117, 240, 117);
    text-decoration: line-through;
}

.listaDeTarefas li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    color: white;
    background-color: rgb(27, 27, 27);
    border-radius: 8px;
    padding: 15px;
    cursor: pointer;
    margin-bottom: 14px;
}

.listaDeTarefas li span i {
    padding: 4px;
    border-radius: 8px;
    font-size: 14px;
    background-color: rgb(46, 46, 46);
}

.listaDeTarefas li span i:hover {
    color: rgb(182, 65, 65);
}

.tasksAmount {
    color: white;
    font-size: 20px;
    margin-bottom: 16px;
}

.submitContainer {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    width: 450px;
    margin-bottom: 14px;
}

.submitContainer .submitButton {
    padding: 12px 15px;
    border: none;
    color: white;
    font-size: 22px;
    border-radius: 8px;
    background-color: rgb(0, 132, 255);
    cursor: pointer;
}
.submitContainer .submitButton:hover {
    background-color: rgb(2, 113, 218);
}

.submitContainer .clearButton {
    display: none;
    padding: 12px 15px;
    border: none;
    color: white;
    font-size: 22px;
    border-radius: 8px;
    background-color: rgb(228, 66, 37);
    cursor: pointer;
}
.submitContainer .clearButton:hover {
    background-color: rgb(199, 57, 31);
}

.submitContainer .input {
    flex: 1;
    padding: 8px 15px;
    font-size: 16px;
    background-color: rgb(27, 27, 27);
    outline: none;
    border: none;
    border-radius: 8px;
    caret-color: white;
    color: white;
}

.submitContainer .input::placeholder {
    color: rgba(255, 255, 255, 0.336);
}

@media(max-width: 768px) {
    body {
        width: 100%;
        padding: 12px;
    }

    body .container {
        width: 100%;
    }

    .submitContainer {
        width: 100%;
    }

    .submitContainer input {
        width: 100%;
    }
}